/* Weapon */

.main-page__item_weapon {
    background-image: url('../../img/rev_back7.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    /* z-index: 0; */
}

.main-page__item_weapon__info {
    margin: 10% 0 0 55%;
    max-width: 600px;
}

.main-page__item_weapon__title {
    color: #ffee00;
    animation: 5s neon-1 alternate-reverse infinite;
    margin-bottom: 2rem;
    opacity: 0;
    transition: opacity linear 1.5s;
}

#main-page__item_weapon__title_active {
    opacity: 1;
}


.weapon {
    margin-left: 10%;
    align-self: center;
    max-width: 35%;
    min-width: 300px;
    height: auto;
    opacity: 0;
    transform: translateX(50%);
    transition: opacity linear 1s, transform linear .5s;
}

#weapon_active {
    opacity: 1;
    transform: translateX(0);
}

/* About Weapon */

.about-weapon {
    transform: translateX(50%);
    opacity: 0;
    transition: opacity linear 1s, transform linear .7s;
}

#about-weapon_active {
    transform: translateX(0);
    opacity: 1;
}

.main-page__item_weapon__title, .about-weapon__text {
    text-align: right;
}

.about-weapon__text {
    margin: 1.2rem 0 0;
}

.about-weapon__text_last {
    position: relative;
}

.about-weapon__text_last:after {
    margin: 2.2rem 0;
    content: "";
    width: inherit;
    height: 1px;
    display: block;
    background-color: #ff0000;

}