.main-page__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    font-size: 20px;
    scroll-snap-align: start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #000;
    color: aliceblue;
}

.main-page__item_home {
    background-image: url('../img/slide-main.jpg');

}

.revolver {
    max-width: 500px;
    height: auto;
}

.spinner {
    max-width: 600px;
    height: auto;
    
}


/* .main-page__item_revolver {
    background-image: url('../img/slide2.jpg');
}

.main-page__item_spinnerCar {
    background-image: url('../img/slide3.jpg');
} */