/* Main-page */

.main-page__item {
    position: relative;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
    padding: 20px;
    font-size: 20px;
    scroll-snap-align: start;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: #000;
    color: aliceblue;
}

.main-page__item_home {
    background-image: url('../img/slide-main.jpg');
    background-position: center center;
    font-family: blrun, sans-serif;
}

.main-page__item_home__logo {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
}

/* .main-page__item_spinnerCar {
    background-image: url('../img/slide3.jpg');
} */

/* Weapon */

.main-page__item_weapon {
    /* justify-content: center; */
}

.main-page__item_weapon__info {
    margin: 8% 0 0 5%;
    max-width: 600px;
    transform: translateY(20%);
    opacity: 0;
    transition: opacity linear 1s, transform linear .5s;
}

#main-page__item_weapon__info_active {
    transform: translateX(0);
    opacity: 1;
}

.main-page__item_weapon__title {
    color: rgb(255, 238, 0);
}

.about-weapon {
    margin: 1.2rem 0 0;
}

.weapon {
    margin-left: 10%;
    align-self: center;
    max-width: 35%;
    min-width: 300px;
    height: auto;
    opacity: 0;
    transform: translateX(50%);
    transition: opacity linear 1s, transform linear .5s;
}

#weapon_active {
    opacity: 1;
    transform: translateX(0);
}

/* SpinnerCar */

.spinner {
    max-width: 800px;
    height: auto;
    
}
