/* ::-webkit-scrollbar {
  width: 0;
} */

html {
  box-sizing: border-box;
  overflow: hidden;
  scroll-behavior: smooth;
}

body {
  cursor: none;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: blrun, sans-serif;
}

a {
  cursor: none;
}

.container {
  padding: 1em 2em;
}

/* Anchor */

.anchor {
  position: fixed;
  bottom: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #646668;
  border-radius: 50%;
  color: #ffffff;
  border: 2px solid #646668;
}

a.anchor:hover {
  color: #646668;
  background-color: #ffffff;
}

@font-face {
  font-family: "blrun";  
  src: url("./fonts/blrun.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal;
}